h1 {
    color: blue
}
img {
    width: 400px;
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: blueviolet;
    padding: 50px;
    border: darkblue 3px solid;
}
#spanId {
    font-size: 25px;
    margin: 50px;
}